nav {
    width: 100%;
    background-color: #FBCEB1;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav .menu a {
    font-size: 1.37rem;
    text-decoration: none;
    color: black;
    position: relative;
    margin: 0 20px;
    /* Add margin between menu items */
}

nav .menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

nav .menu a:hover::after {
    width: 100%;
}

#ham,
#lin {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
    background-color: #D16644;
    border-radius: 4px;
    margin-right: 20px;
    /* Add margin to separate from menu items */
    position: absolute;
    top: 10px;
    right: 10px;
}

#lin {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 1rem;
}

#ham {
    display: none;
}

@media (max-width: 1000px) {
    nav .menu {
        display: none;
    }

    #ham {
        display: block;
        padding: 4px;
    }

    #lin {
        display: none;
    }

    nav .menu.show {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        gap: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    nav .menu.show a {
        font-size: 1.2rem;
        padding: 15px 20px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin: 0;
        /* Reset margin */
    }

    nav .menu.show a:hover {
        background-color: #F4F6F4;
    }
}